
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <title>Create notes</title>
    <!-- google fonts -->
    <title>Create notes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet" 
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- navbar -->
    <body class="over">
      <div class="row">
        <div class="col-6 px-4"> <h1 class="lgtitle">4school</h1></div>
        <div class="col-6 mt-2"><a href="/" class="lgbody homebtn0 "> Homepage</a></div>
    <hr>
    <!-- create notes -->
    </div>
    <div class="row">
        <form action="/notes/create" method="POST">

          <h1 class="lgtitle mt-3 mb-5" style="text-align: center ; ">Create a post:</h1>
      <!-- title -->
      <div class="createnotes" style="top: 20%;">
        <label for="" class="lgbody ">Title</label>
        <input type="text" name="title" class="lgbody" />
      </div>
      <!-- image -->
      <div class="createnotes" style="top: 27.5% ;" >
        <label for="" class="lgbody">Image</label>
        <input type="file" name="image" class="lgbody">
      </div>
      <!-- caption -->
      <div class="createnotes" style="top: 35%;">
          <label for="" class="lgbody">Caption</label>
          <input type="text" name="caption" class="lgbody" />
        </div>   

        <!-- tags -->
        <div class="createnotes" style="top: 42%;">
          <label for="" class="lgbody" >Tags</label>
          
          <select name="subject" id="" class="lgbody">
            <optgroup label="Subjects" class="lgbody">
              <option value="italian" class="lgbody">italian</option>
              <option value="english" class="lgbody">english</option>
              <option value="history" class="lgbody">history</option>
              <option value="business" class="lgbody">business</option>
              <option value="science" class="lgbody">science</option>
              <option value="math" class="lgbody">math</option>
              <option value="PHE" class="lgbody">PHE</option>
              <option value="computerscience" class="lgbody">computer science</option>
              <option value="design" class="lgbody">design</option>
            </optgroup>
          </select>
    
          <select name="year" id="" class="lgbody">
            <optgroup label="Class" class="lgbody">
              <option value="MYP1"class="lgbody">MYP1</option>
              <option value="MYP2"class="lgbody">MYP2</option>
              <option value="MYP3"class="lgbody">MYP3</option>
              <option value="MYP4"class="lgbody">MYP4</option>
              <option value="MYP5"class="lgbody">MYP5</option>
              <option value="DP1"class="lgbody">DP1</option>
              <option value="DP2"class="lgbody">DP2</option>
    
            </optgroup>
          </select>
        </div>
    
      <div class="row">
        <div class="col submit">
          <button type="submit" class="btn btn-dark btn-lg button arrow text absolute createnotes1" style="top: 51%;">Create</button>
        </div>
      </div>
    </div>
    