<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home page</title>
</head>

<body class="bck">

    <h1 class="title">4school
      ee
    </h1>
    <div class="row">
        <div class="col-3"> HELLO </div>
        <div class="col-3"> hELLO </div>
        <div class="col-3"> HELLO </div>
        <div class="col-3"> HELLO</div>
    </div>

    <a href="/notes">open notes</a>

</body>
</html>

