<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- google fonts -->
    <title>Log in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet" 
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap" rel="stylesheet">
  </head>
  <!-- navbar -->
  <body class="over">
    <div class="row">
      <div class="col-6 px-4"> <h1 class="lgtitle">4school!!!!!!!!</h1></div>
      <div class="col-6 mt-2"><a href="/" class="lgbody homebtn0 "> Homepage</a></div>
<hr>


    <!-- margins -->
    <div class="lgbck">
        <div class="row">
      <!-- title -->
      <h1 class="lgtitle mt-5">Log in to 4 school</h1>
      <!-- subtitle -->
      <h1 class="lgbody mt-4">Add you login information</h1>
      <!-- login box -->
     <form class="container" method="post">
      <div class="lgbody">
      <!-- username -->
      <div class="lgusernamediv">
      <label for="email" ><b></b></label>
      <!-- icon -->
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg><i class="bi bi-person-fill px-1"></i> 
      <!-- input -->
      <input 
      type="text"
      class="lgbody"
      placeholder="Username" 
      name="email" 
      required 
      />
      </div>
      <!-- password -->
      <div class="lgpassworddiv">
        <label for="password"><b></b></label>
        <!-- icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
        <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
       </svg><i class="bi bi-key-fill px-1"></i>
        <!-- input -->
        <input
        type="password"
        placeholder="Password"
        name="password"
        required
        
      />
      </div>
      <!-- login btn  -->
      <div class="lglogindiv">
      <button type="submit" class="loginbtn btn btn-dark" >Login</button>
      </div>
      </form>
      <!-- sign up  -->
      <div class="lgsignupdiv">
      <h1 class="lgbody mt-4">Don't have an account?</h1>
      <a href="/signup" type=" button " class="lgbody1 ">Sign up here</a> 
      </div>

          <img src="/images/image1.jpg" alt="" class="img-fluid imgpos" style="width: 600px ; height: 300px;">

      </div>
    </div>
    <div class="row">
      <div  class="lgdivbottom "> <h1 class="mt-4 lgtitle1">Login in in order to be able to interact with users, comment, like and more!</h1></div></div>
  </body>
</html>
