@font-face {
  font-family: "font1";
  src: url("fonts/a_big_deal/aBigDeal.ttf");
  font-family: "font2";
  src: url("fonts/jabore.otf");
}




.col-md-9 {
  background-color: #FFFBFC;
   }
.col-md-3 {
background-color: #605e5c;

}

.px {
margin-left: 10px;
margin-right: 100px;
}

@font-face {
font-family: "font1";
src: url("fonts/a_big_deal/aBigDeal.ttf");
}

.title {
font-family: font1;
color: #30414b;
font-size: 65px;
text-align: center;
margin-top: 20px;
}    
.bck{
background-color: #FFFBFC;
}

.text1{
font-family: 'Lato', sans-serif;
size: 50px;
color: #30414A;
} 

.text{
font-family: 'Lato', sans-serif;
size: 20px;
color: #FFFBFC;
} 

.col-md-2 {
background-color: #74ABC9;
}
.col-md-6 {
background-color: #FFFBFC;
 }
.col-md-3 {
background-color: #74ABC9;
margin-left: 25px ;
}

.px {
margin-left: 10px;
margin-right: 100px;
}
.box {
margin: 50px auto;
background: #74ABC9;
padding: 20px;
font-weight: 900;
position:relative;
border-radius: 40px;
padding: 24px;
}

.sb1:before {
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 24px solid #74ABC9;
<<<<<<< HEAD
=======
border-right: 12px solid transparent;
border-top: 12px solid #74ABC9;
border-bottom: 20px solid transparent;
left: 60px;
bottom: -30px;

}
.box5 {
margin: 50px auto;
background: #605e5c;
padding: 20px;
font-weight: 900;
position:relative;
border-radius: 40px;
padding: 24px;
}

.sb15:before {
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 24px solid #605e5c;
>>>>>>> 8cbcf42013088e0524ef266cf06d2c5a7b1d2d27
border-right: 12px solid transparent;
border-top: 12px solid #74ABC9;
border-bottom: 20px solid transparent;
left: 60px;
bottom: -30px;

}
<<<<<<< HEAD
.box5 {
  margin: 50px auto;
  background: #605e5c;
  padding: 20px;
  font-weight: 900;
  position:relative;
  border-radius: 40px;
  padding: 24px;
  }
  
  .sb15:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #605e5c;
  border-right: 12px solid transparent;
  border-top: 12px solid #605e5c;
  border-bottom: 20px solid transparent;
  left: 60px;
  bottom: -30px;
  
  }
=======
>>>>>>> 8cbcf42013088e0524ef266cf06d2c5a7b1d2d27
.title2 {
font-family: font2;

}

.filters {
text-align: center;
padding: 10px;
}
.div1 {
width: 400px;
height: 400px;

}



.abc {
margin-top: 30px;
margin-left: 30px;
}


.submit {
text-align: inherit;
padding-top: 15px;
}

.tn {
padding-top: 20px;
}


.textl{
font-family: 'Lato', sans-serif;
font-size: 23px;
color: black;
text-align: center;
}

.center{
position: absolute;
left: 40%;
}

.lgtitle {
font-family: 'Red Hat Display', sans-serif;
font-size: 40px;
text-align: left;
color: #201f1e;

}

.lgbck {
background-color: (142,142,142,0.4);
margin-top: 70px;
margin-left: 200px;

}

.lgbody {
font-family: 'Lato', sans-serif;
font-size: 20px;
color:#605e5c ;
text-align: left;
}


.lgbody {
font-family: 'Lato', sans-serif;
font-size: 20px;
color:#605e5c ;
text-align: left;
font-weight: 400;
}

.lgusernamediv{
position: absolute;
bottom: 62%;

}

.lgpassworddiv{
position: absolute;
bottom: 55%;

}

.lgrepassworddiv{
position: absolute;
bottom: 48%;

}

.lgnamediv{
position: absolute;
bottom: 41%;
}

.lgsignupdiv{
position: absolute;
bottom: 43%;

}


.lglogindiv{
position: absolute;
bottom: 35%;


}
.lglogindiv2{
position: absolute;
bottom: 30%;


}

.homebtn0 {
margin-left: 570px;
display: inline-block;
}
.homebtn {
margin-left: 670px;
display: inline-block;
}
.homebtn1 {
margin-left: 550px;
display: inline-block;
}
.homebtn2 {
margin-left: 400px;
display: inline-block;
}

.homebtn3 {
margin-left: 250px;
display: inline-block;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.lgbtn{
color: #201f1e;

}

.lgdivbottom{
background-color: #605e5c ;
position: absolute;
bottom: 0%;
left: 0%;
width: 100%;
height: 10%;
margin-left: 0;
padding: 0;
}

.lgtitle1{
font-family: 'Red Hat Display', sans-serif;
font-size: 20px;
text-align: center;
color: white;
}
.lgtitle2{
font-family: 'Red Hat Display', sans-serif;
font-size: 30px;
text-align: center;
color: white;
}


.filterdiv{
position: absolute;
right: 0%;
top: 7.1%;
width: 10%;
height: 95%;
background-color: #605e5c ;
overflow: hidden;
}

.addnote{
position: fixed;
overflow: hidden;
bottom: 3%;
left: 0.5%;
}

.opennotes{
position: relative;
left: 80%;
}

.createnotes{
<<<<<<< HEAD
  position: absolute;
  left: 40%;
}

.createnotes1{
  position: absolute;
  left: 47%;
=======
position: absolute;
left: 40%;
}

.createnotes1{
position: absolute;
left: 47%;
>>>>>>> 8cbcf42013088e0524ef266cf06d2c5a7b1d2d27
}


.heart {
<<<<<<< HEAD
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  display: block;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  position: absolute;
  left: 91%;
  bottom: 12%;

  
}
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
=======
width: 100px;
height: 100px;
background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
background-position: 0 0;
cursor: pointer;
display: block;
transition: background-position 1s steps(28);
transition-duration: 0s;
position: absolute;
left: 91%;
bottom: 12%;


}
.heart.is-active {
transition-duration: 1s;
background-position: -2800px 0;
>>>>>>> 8cbcf42013088e0524ef266cf06d2c5a7b1d2d27
}



.comment-content{
<<<<<<< HEAD
 margin-left: 100px;
=======
margin-left: 100px;
>>>>>>> 8cbcf42013088e0524ef266cf06d2c5a7b1d2d27
}

.comment-like{
margin-left: 122px;
margin-bottom: 20px;
}

.lineround{
<<<<<<< HEAD
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px; 
  margin-left: 220px;
  margin-right: 90px;
  width: 1000px;
 
}

.comment{
  margin-top: 100px;
  margin-bottom: 30px;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px; 
  margin-left: 90px;
  margin-right: 90px;
}

.subbutton{
  position: absolute;
  right: 5%;
}
=======
margin-top: 30px;
margin-bottom: 40px;
border-radius: 25px;
border: 2px solid black;
padding: 20px; 
margin-left: 220px;
margin-right: 90px;
width: 1000px;

}

.comment{
margin-top: 100px;
margin-bottom: 30px;
border-radius: 25px;
border: 2px solid black;
padding: 20px; 
margin-left: 90px;
margin-right: 90px;
}

.subbutton{
position: absolute;
right: 5%;
}


>>>>>>> 8cbcf42013088e0524ef266cf06d2c5a7b1d2d27
